<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.wemind.marketplacetribanco">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.QuoteTypeActivity"
            android:label="@string/title_activity_quote_type"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.wemind.marketplacetribanco.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.RemoteQuotesActivity"
            android:label="@string/title_remote_quotes"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.wemind.marketplacetribanco.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SuppliersListActivity"
            android:label="@string/title_activity_suppliers_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SuppliersSelectActivity"
            android:label="@string/title_activity_suppliers_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SimpleProductsListActivity"
            android:label="@string/title_products_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SupplierCreateActivity"
            android:label="@string/title_activity_supplier_create"
            android:parentActivityName=".activities.SuppliersListActivity"
            android:theme="@style/AppTheme.WhiteBackground">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.wemind.marketplacetribanco.activities.SuppliersListActivity"/>
        </activity>
        <activity
            android:name=".activities.ProductCreateActivity"
            android:label="@string/title_product_create_activity"
            android:parentActivityName=".activities.SimpleProductsListActivity"
            android:theme="@style/AppTheme.WhiteBackground">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.wemind.marketplacetribanco.activities.SimpleProductsListActivity"/>
        </activity>
        <activity
            android:name=".activities.ListingsListActivity"
            android:label="@string/title_activity_listings_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ListingCreateActivity"
            android:label="@string/title_activity_listing_create"
            android:parentActivityName=".activities.ListingsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.wemind.marketplacetribanco.activities.ListingsListActivity"/>
        </activity>
        <activity
            android:name=".activities.ListingsSelectActivity"
            android:label="@string/title_activity_listings_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.QuotesListActivity"
            android:label="@string/title_quotes_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.QuoteProductsListActivity"
            android:label="@string/title_quote_products"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.QuoteProductActivity"
            android:label="@string/title_activity_quote_product"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ProductsSelectActivity"
            android:label="@string/title_activity_products_select"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.QuoteCreateActivity"
            android:label="@string/title_quote_create_activity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.QuoteCreationFlowController">
        </activity>
    </application>

</manifest>